<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjjy.steerlib">

    <application>
        <activity
            android:name="com.gjjy.steerlib.ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>
