<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjjy.loginlib">

    <application>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.LoginErrorActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.NeedLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.ExitAppLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.EmailLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.EmailSignUpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.EmailForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.EmailResetPasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name="com.gjjy.loginlib.ui.activity.EmailUpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>
</manifest>
