<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjjy.frontlib" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.activity.AnswerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.AnswerTestRefreshScoreActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.RefreshScoreLackLightningActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.ReViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.FastReViewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.WordsListActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.SearchWordsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.NormalAnswerDescActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.EncourageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.IntroduceActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.AnswerExpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.AnswerTestEncourageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ui.activity.SkipTestLightningConsumeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
    </application>
</manifest>
